<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Skin Care Reviews</title>
</head>

<body>

    <%- include('partials/nav.ejs') %>

    <h1>Users Index Page</h1>

    <div class="users-container">
        <ul class="categories">
            <li>User Photo</li>
            <li>First Name</li>
            <li>Last Name</li>
            <li>Email Address</li>
            <li>Remove?</li>
        </ul>
       
            <% user.forEach(element => { %>
               <section class="user-row">
                <ul class="users">
                    <li><img class="leaf" src="../images/leaf.png"/></li>
                    <li><%= element.firstName %></li>
                    <li><%= element.lastName %> </li>
                    <li><%= element.email %> </li>
                
                    <li class="del-button">
                        <form style="display: inline;" action="/users/<%= element._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </li>

                </ul>
            </section>
            <% }); %>
    </div>

   <%- include('partials/footer') %>

</body>

</html>