<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/head.ejs') %>
    
    <title>Skin Care Reviews</title>
</head>

<body>

    <%- include('partials/nav.ejs') %>

    <h1>Users Index Page</h1>

    <% user.forEach(element => { %>
        <ul><%= element.firstName %> <%= element.lastName %> 
            <li><%= element.email %> </li>
        </ul>
        
        
        <form style="display: inline;" action="/users/<%= element._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>

   <% }); %>
    
   <%- include('partials/footer') %>
</body>
</html>